<div class="row">
  <div class="col-12">
    <h3>Easy Companies 2 Factory Login</h3>
    Easy Companies take security very seriously. That is why we have 2 factor login in place. You must have received an SMS on your registered mobile phone.<br>
    Please enter six digits that you are in the sms to continue your login.
  </div>
</div>

<form id="idForm" (submit)="onSubmit(salForm.value)" [formGroup]="salForm">
  <div class="form-border">
    <div class="form-group">
      <label for="idFactor">Two Factor: </label>
      <input type="number" class="form-control" id="idFactor" placeholder="Enter 6 digits received on your phone"
             [formControl]="salForm.controls['twoFactorNumber']">


      <span *ngIf="!twoFactorNumber.valid && twoFactorNumber.touched" class="badge badge-danger">Please enter number received on your sms</span>
    </div>

    <div class="form-group">
      <div *ngIf="successMsg" class="alert alert-success" [innerHTML]="this.successMsg"></div>
      <div *ngIf="errorMsg" class="alert alert-danger" [innerHTML]="this.errorMsg"></div>

      <button class="btn btn-primary"> Verify </button>
      <img *ngIf="loading" src="assets/images/loading.gif" width="65" height="65">
    </div>
  </div>
</form>
